<% if !signed_in? %>
<div class="jumbotron">

	<div class="span8 welcome">
		<strong>Hi!</strong> I'm new to this kind of stuff - web design and magic - I'd be happy to hear any feedback you might have for the site or feature requests. <a href="https://plus.google.com/109159496881679410875/">g+ me</a>.
    <a href="#"><b class="caret feature" id="pointUp"></b></a>
	</div>

	<h1 id="randomHeader"></h1>
</div>
<% end %>

<div class="span8">
	<p>This is a real wish list site. Feel free to browse other peoples links<% if !signed_in? %> or you can <%= link_to "signup", signup_path %> and start your own link list<% end %>. Currently we have <%= Present.count %> links between <%= User.count %> users. </p>
</div>

<br />

<%= render 'shared/list' %>


