<% if !signed_in? %>
<div class="jumbotron">
	<h1>Indulge yourself.</h1>

	<p class="lead">
		<div class="span2 offset1">
			<h3>What?</h3>
			<p>A global personal wishlist.</p>
		</div>
    <div class="span2">
			<h3>How?</h3>
			<p>Create a list which links to items you want.</p>
    </div>
    <div class="span2">
			<h3>Why?</h3>
			<p>Start receiving gifts you want or let your friends know what you dig.</p>
    </div>
	</p>
</div>
<% end %>

<div class="span10">
	<p>Feel free to browse other peoples lists<% if !signed_in? %> or you can <%= link_to "signup", signup_path %> and start your own potential present list<% end %>. Currently we have <%= Present.count %> potenial presents listed between <%= User.count %> users. </p>
</div>

<br />

<%= render 'shared/list' %>


